<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a href="" class="navbar-brand">IDGS Practicas</a>
    <button class="navbar-toggler" data-target="#" data-toggle="collapse" 
    aria-controls="my-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-togler-icon"></span>
    </button>
    <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/Resistencias">
                    <!-- <fa-icon[ico]="myIcon"></fa-icon> -->
                    <i class="fa fa-home"></i>
                    Resistencia Ω 
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Distancia">
                    Distancias 📉
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Pizzeria">
                    Pizzeria 🍕
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/Cine">
                    Cine 🎥
                </a>
            </li>
        </ul>
    </div>
</nav>